<!--<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->

<!--<h1 class="text-center">Установка дверей</h1>

<h1 class="text-info text-center marketing">МТС: <strong>8 029 558-28-26 Владимир</strong></h1>
<h1 class="text-info text-center marketing">Домашний телефон: <strong>259-26-48</strong></h1>
<h1 class="text-center marketing">Установка межкомнатных дверей в <strong>Минской области.</strong></p>
<h1 class="text-center marketing">Цена установки одной двери = эквивалент <strong>40 у.е.</strong></p>
<h1 class="text-center marketing">Опыт работы более <strong>15 лет</strong>.</h1>-->

<style>
.wrapper {
  background-image: url("views/Blue-Doors-iPad-Wallpaper.jpg");
  height: 1024px;
}
.text {
  color: white;
  margin-left: 90px;
}



</style>

<div class="wrapper">
<div class="text">
<div>Установка дверей</div>
<div>МТС: <strong>8 029 558-28-26 Владимир</strong></div>
<div>Домашний телефон: <strong>259-26-48</strong></div>
<div>Установка межкомнатных дверей в <strong>Минской области.</strong></div>
<div>Цена установки одной двери = эквивалент <strong>40 у.е.</strong></div>
<div>Опыт работы более <strong>15 лет</strong>.</div>
</div>
</div>